* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: mediumvioletred;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

main {
    flex-grow: 1;
    display: flex;
}

footer {
    background-color: mediumvioletred;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icones {
    height: 20px;
    
}

.nomeConfeitaria {
    font-size: 20px;
    flex-grow: 1;
    padding: 5px;
    align-self: center;
}

.botaoInicial {
    font-size: 10px;
    width: 40px;
    padding: 0;
}

.bolinho {
    align-self: center;
}

nav{
    width: 200px;
    background-color: #f2d0e0;
    display: flex;
    justify-content: space-between;
}

.principal {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 100px 1fr 100px;

}

.listaNav {
    list-style: none;
}

.bloco2 {
    justify-self: center;
    flex-grow: 1;
}

.bloco1 {
    justify-self: center;
    width: 30px;
}

.bloco3 {
    justify-self: center;
    width: 30px;
}

.elementosLista {
    margin: 3px 0;
    font-size: 16px;
}

.imagemBolos {
    width: 60%;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 5px 0 16px darkgray;
}
.legendaBolos {
    width: 60%;
    margin-left: 10px;
    margin-bottom: 0;
}

.img1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.img2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.img3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.img4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.lgd1 {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}

.lgd2 {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}

.lgd3 {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}

.lgd4 {
    grid-row: 2/3;
    grid-column: 4/5;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}
.lgd5 {
    grid-row: 4/5;
    grid-column: 1/2;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}

.lgd6 {
    grid-row: 4/5;
    grid-column: 2/3;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
}
.lgd7 {
    grid-row: 4/5;
    grid-column: 3/4;
    height: 70px;
    box-shadow: 5px 5px 16px darkgray;
    margin-top: 0;
}

.legendaBolos > h5 {
    text-align: center;
}

.legendaBolos > p {
    text-align: center;
    font-size: 12px;
    padding-top: 12px;
}
