/* Organização geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
    width: 100wh;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

main {
    background-color:darkslategray;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilização cabeçalho */
#btnBusca {
    width: 20px;
    height: 20px;
}

.barra-de-busca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:110px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:15px;
    width:70px;
    padding-top: 5px;
}

.nome-site {
    color: white;
}

/* estilização corpo */

.card-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 310px;
    box-shadow: 2px 2px 20px black;
}

.imagem-video {
    width: 300px;
    height: 200px;
}

.descricao-video {
    text-align: center;
    font-size: 26px;
    text-decoration: none;
}

.link-card {
    text-decoration: none;
    color: white;
}

.link-home {
    text-decoration: none;
    color: white;
}
/* organização páginas */

.pagina-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.display-videos {
    padding-bottom: 70px;
    width: 650px;
    height: 500px;
}

@media screen and (max-width: 500px) {
    main {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .imagem-video {
        width: 150px;
        height: 100px;
    }

    .card-video {
        padding: 4px;
        width: 200px;
        box-shadow: 2px 2px 20px black;
    }

    .display-videos {
        padding-bottom: 10px;
        width: 100%;
        height: 100%
    }

    .pagina-video {
        margin-bottom: 150px;
        margin-top: 150px;
    }
}